@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 156.86deg 100% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 37, 100%, 70%, 1;
    --secondary-foreground: 156.86deg 100% 30%;

    --primary-red: 7, 98%, 63%, 1;
    --primary-blue: 201, 95%, 43%, 1;
    --primary-gray: 240, 1.41%, 41.76%, 100%;

    --muted: 37, 100%, 70%, 1;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 37, 100%, 70%, 1;
    --accent-foreground: 156.86deg 100% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --font-size-h1: 2.5rem;
    --font-size-h3: 1.4rem;
    --font-size-p: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 156.86deg 100% 30%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .card {
    @apply p-4 rounded-md border-solid border border-slate-200;
  }
}